node-red/.flows.json.backup
[{"id":"d58fedef.462408","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"511b98bf.5c1838","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"da067443.e1a7e8","type":"mqtt-broker","z":"","name":"MQTT","broker":"192.168.0.84","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4c4ef51.6928f8c","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"BLE","name":"","usetls":false,"tls":""},{"id":"48a3d4ca.f7e16c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8c0e8d3c.fe4668","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"iSpindel","name":"","usetls":false,"tls":""},{"id":"b4b7e107.906648","type":"mqtt in","z":"d58fedef.462408","name":"","topic":"/ble/cc:5e:9b:96:0a:79","qos":"0","datatype":"json","broker":"da067443.e1a7e8","x":121,"y":80,"wires":[["b34a847d.73725","730c1bd3.aea514","e96c5348.8a0a8","c39e98f3.4b03e8"]]},{"id":"f1e51118.bb82","type":"debug","z":"d58fedef.462408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":40,"wires":[]},{"id":"2bf8db30.96d684","type":"mqtt out","z":"d58fedef.462408","name":"","topic":"/ble/temp","qos":"1","retain":"false","broker":"da067443.e1a7e8","x":680,"y":40,"wires":[]},{"id":"bbc5abec.a93b1","type":"mqtt out","z":"d58fedef.462408","name":"","topic":"/ble/hum","qos":"1","retain":"false","broker":"da067443.e1a7e8","x":680,"y":120,"wires":[]},{"id":"8378c460.9e39c","type":"mqtt out","z":"d58fedef.462408","name":"","topic":"/ble/batt","qos":"1","retain":"false","broker":"da067443.e1a7e8","x":680,"y":200,"wires":[]},{"id":"d0d65968.33d67","type":"mqtt out","z":"d58fedef.462408","name":"","topic":"/ble/rssi","qos":"1","retain":"false","broker":"da067443.e1a7e8","x":680,"y":280,"wires":[]},{"id":"b34a847d.73725","type":"change","z":"d58fedef.462408","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["2bf8db30.96d684","fcea0f9e.d9669"]]},{"id":"730c1bd3.aea514","type":"change","z":"d58fedef.462408","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":120,"wires":[["bbc5abec.a93b1","43ff7e41.64c66"]]},{"id":"e96c5348.8a0a8","type":"change","z":"d58fedef.462408","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Batt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":160,"wires":[["8378c460.9e39c","2c96838c.8019c4"]]},{"id":"c39e98f3.4b03e8","type":"change","z":"d58fedef.462408","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.RSSI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["d0d65968.33d67"]]},{"id":"164111e9.ccc43e","type":"mqtt in","z":"d58fedef.462408","name":"","topic":"ispindel/iSpindel000/temperature","qos":"0","datatype":"json","broker":"da067443.e1a7e8","x":150,"y":335,"wires":[["d8471d59.eebd4"]]},{"id":"d8471d59.eebd4","type":"influxdb out","z":"d58fedef.462408","influxdb":"8c0e8d3c.fe4668","name":"temp","measurement":"temp","precision":"","retentionPolicy":"","x":670,"y":335,"wires":[]},{"id":"9525bed9.9fe92","type":"mqtt in","z":"d58fedef.462408","name":"","topic":"ispindel/iSpindel000/battery","qos":"0","datatype":"json","broker":"da067443.e1a7e8","x":140,"y":375,"wires":[["2195d799.68a5d"]]},{"id":"8314181.19e0268","type":"mqtt in","z":"d58fedef.462408","name":"","topic":"ispindel/iSpindel000/gravity","qos":"0","datatype":"json","broker":"da067443.e1a7e8","x":130,"y":415,"wires":[["559513a6.118a4c"]]},{"id":"2195d799.68a5d","type":"influxdb out","z":"d58fedef.462408","influxdb":"8c0e8d3c.fe4668","name":"batt","measurement":"batt","precision":"","retentionPolicy":"","x":670,"y":375,"wires":[]},{"id":"559513a6.118a4c","type":"influxdb out","z":"d58fedef.462408","influxdb":"8c0e8d3c.fe4668","name":"SG","measurement":"SG","precision":"","retentionPolicy":"","x":670,"y":415,"wires":[]},{"id":"2b60baf3.b72446","type":"influxdb out","z":"d58fedef.462408","influxdb":"4c4ef51.6928f8c","name":"temp","measurement":"temp","precision":"","retentionPolicy":"","x":670,"y":80,"wires":[]},{"id":"472f42cd.893e3c","type":"influxdb out","z":"d58fedef.462408","influxdb":"4c4ef51.6928f8c","name":"hum","measurement":"hum","precision":"","retentionPolicy":"","x":670,"y":160,"wires":[]},{"id":"e05d8a71.a31d68","type":"influxdb out","z":"d58fedef.462408","influxdb":"4c4ef51.6928f8c","name":"batt","measurement":"batt","precision":"","retentionPolicy":"","x":670,"y":240,"wires":[]},{"id":"2c96838c.8019c4","type":"smooth","z":"d58fedef.462408","name":"","property":"payload","action":"mean","count":"10","round":"2","mult":"single","reduce":true,"x":540,"y":240,"wires":[["e05d8a71.a31d68"]]},{"id":"fcea0f9e.d9669","type":"smooth","z":"d58fedef.462408","name":"","property":"payload","action":"mean","count":"10","round":"2","mult":"single","reduce":true,"x":540,"y":80,"wires":[["2b60baf3.b72446"]]},{"id":"43ff7e41.64c66","type":"smooth","z":"d58fedef.462408","name":"","property":"payload","action":"mean","count":"10","round":"2","mult":"single","reduce":true,"x":540,"y":140,"wires":[["472f42cd.893e3c"]]}]